# Dependencies
node_modules/
venv/

# Build outputs
dist/
*.min.js

# Python
__pycache__/
*.pyc
*.pyo

# Environment variables
.env
.env.*

# Database files
*.db
*.sqlite
*.sqlite3

# Uploads
/uploads/

# npm, yarn, pnpm lock files
# go.sum
yarn.lock
package-lock.json
pnpm-lock.yaml